:root {
  --theme: #115566;
  --primary: #559999;
  --primaryInput: #d0ebdd9e;
  --primaryBackground: #ffffff;
  --primaryBackgroundTwo: #c0efef;
  --secondary: #3c3c3c;
  --secondaryBackground: #d0ebdd;
  --fabBoxShadow: -5px 5px 10px #d9d9d9, 5px -5px 10px #ffffff;
  --fabBackground: linear-gradient(225deg, #e6e6e6, #ffffff);
  --rippleColor: rgb(179, 179, 179);
  --profilePicShadow: 0px 5px 15px -5px var(--theme);
}
